[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
# Docker
db = "sudo docker run --name sunrise-db -e POSTGRES_PASSWORD=root -p 5200:5432 -d postgres"
db-run = "sudo docker start sunrise-db"
db-sh = "sudo docker exec -it sunrise-db psql -U postgres"
# Dev
dev = "flask --app ./src/app --debug run"
# Testing
test = "ptw -- -rP"
# Lazy
start = "pipenv run db && pipenv run dev"

[packages]
python-dotenv = "*"
pytest = "*"
pytest-watch = "*"